@import url(http://fonts.googleapis.com/css?family=Fira+Mono);

* {
    font-family: 'Fira Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: #eae7e4;
}

body{
    background-color: #313a41;
}

header {
    padding: 10px;
    margin: 10px;
    background-color: #333;
}

header > h2 {
    font-size: 12pt;
    font-style: italic;
}

main {
    float: left;
    width: 65%;
    background-color: #333;
    padding: 10px;
    margin: 10px;
}

aside {
    float: left;
    width: 30%;
    background-color: #333;
    padding: 10px;
    margin: 10px;
}
