@import url(http://fonts.googleapis.com/css?family=Fira+Mono);

* {
    font-family: 'Fira Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: #eae7e4;
}

body{ background-color: #333; }

header {
    padding: 10px;
    margin: 10px;
    background-color: #222;
}

h2 {
    font-size: 12pt;
    font-style: italic;
}

main {
    float: left;
    width: 60%;
    background-color: #222;
    padding: 10px;
    margin: 10px;
}

main > section { padding-bottom: 20px; }

ul {
    padding-left: 10px;
    list-style-type: none;
}

li:before{ content: "├" }

li:first-child:before{ content: "┌" }

li:last-child:before{ content: "└" }

aside {
    float: left;
    width: 34%;
    background-color: #222;
    padding: 10px;
    margin: 10px;
}

footer {
    clear: both;
    background-color: #222;
    padding: 10px;
    margin: 10px;
} 

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flexbox .col { flex: 1; }
