---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$base00: #181818 !default;
$base01: #282828 !default;
$base02: #383838 !default;
$base03: #585858 !default;
$base04: #b8b8b8 !default;
$base05: #d8d8d8 !default;
$base06: #e8e8e8 !default;
$base07: #f8f8f8 !default;
$base08: #ab4642 !default;
$base09: #dc9656 !default;
$base0a: #f7ca88 !default;
$base0b: #a1b56c !default;
$base0c: #86c1b9 !default;
$base0d: #7cafc2 !default;
$base0e: #ba8baf !default;
$base0f: #a16946 !default;
